.container__logo-menu{
    display:flex;
    flex-direction: column;
    align-items: center;
}




.description{
    font-size: 22px;
    font-weight: 300;
    padding: 10px 1em 80px 1em;
    text-align: center;

}



@media screen and (max-width: 500px){

    .logo{
        display: flex;
        justify-content: center;
        
    }
    .logo img{
       
        width: 87%;
        margin-top: 1em;
        margin-left: 0;
    }
}


