.container__about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.container__about h1{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 1em;
}

.description-about{
    font-size: 25px;
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
    line-height: 1;
    
}