<div class="not-fount__container">

  <div class="not-fount__content">

    <div class="not-fount__headers">
      <div class="headers-texts">
        <h1>OPS! :( </h1>
        <h2>503</h2>
      </div >
      <div class="headers-img"><img src="assets/images/404_and_503/Logo_desfalecida.png" alt=""></div>
    </div>
    <div class="not-fount__context">
      <h3>Atenção, o serviço não está disponível.</h3>
      <p>

        <a id="refreshLink" (click)="refreshPage()">Clique aqui</a>
        para atualizar a página. Se o problema persistir, não esqueça de nos avisar.
      </p>
    </div>

  </div>
</div>
