<div class="preview__container" id="previewContainer">
    <div class="preview1__wrapper" [ngClass]="{'none': certificateId === '2'}">
        <app-preview1 
        [eventDate]="eventDate"
        [eventWorkLoad]="eventWorkLoad"
        [eventDate]="eventDate"
        [eventName]="eventName"
        [speakerName]="speakerName"
        [speakerRole]="speakerRole"
    />  
    </div>
    <div class="preview2__wrapper" [ngClass]="{'none': certificateId === '1'}">
        <app-preview2 
            [eventDate]="eventDate"
            [eventWorkLoad]="eventWorkLoad"
            [eventDate]="eventDate"
            [eventName]="eventName"
            [speakerName]="speakerName"
            [speakerRole]="speakerRole"
        />  
    </div>
</div>