<section class="container__carrossel">
    <h2>{{ title }}</h2>
    <div class="container__cards">


        <div class="setas">
            <button (click)="slider.next()">
                </button>
        </div>

        <div class="cards keen-slider" #sliderRef>

            <div class="page__cards">
                <div *ngFor="let card of cards; index as i" class="card">
                    <app-card [icon]="card.icon" [title]="card.title" [description]="card.description"
                        [router]="card.router" />
                </div>
            </div>


        </div>


        <div class="setas">
            <button (click)="slider.prev()" class="inverter">></button>
        </div>

    </div>

</section>