<div class="not-fount__container">

  <div class="not-fount__content">

    <div class="not-fount__headers">
      <div class="headers-texts">
        <h1>OPS! :( </h1>
        <h2>Erro 404</h2>
      </div >
      <div class="headers-img"><img src="assets/images/404_and_503/Logo_desfalecida.png" alt=""></div>
    </div>
    <div class="not-fount__context">
      <h3>Desculpe, a página que voce procura não foi encontrada.</h3>
      <p>Verifique se o endereço informado está correto. Se o problema persistir, nao esqueça de nos avisar.</p>
      <button class="bt-content" [routerLink]="['/home']">Voltar à página inicial</button>

    </div>
  </div>
</div>
