.input-field__container{
    display: flex;
    flex-direction: column;
    color: var(--label-color);
    gap: 0.25rem;
    margin: .5rem 0;
}

.label-title{
    width: 100%;
    font-weight: 600;
}

.input-field{
    width: 100%;
    border-radius: 4px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid var(--label-color);
    background-color: #FFF;
    height: 2rem;
    padding: .5rem .75rem;
}

.input-field:hover::placeholder{
    transition: 400ms ease-out;
}

.input-field:hover{
    transition: 400ms ease-in;
    background-color: #158E8E;
}

.input-field:hover, .input-field:hover::placeholder{
    color: #fff;
}
