.alter-color__container{
  display: flex;
  flex-direction: column;
  padding: 0 .25rem;
  max-width: 98%;
}

.form-title{
  font-size: 1.25rem;
}

.alter-color__images{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20rem;
}

.drop-zone__container, .box-preview-alter{
  flex: 1;
  /* height: 100%; */
  width: 100%;
  
}
.drop-zone__container{
  /* border: 1px solid yellow; */
  /* background-color: red; */
}
.drop-zone__area{
  height: 320px;
  border: 1px dotted var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.drop-zone__input{
  display: none;
}

.box-preview-alter{
  flex: 1;
  border: 1px solid red;
}