
.second-model__container{
    background-image: url('/assets/images/clean_certificado_2.png');
    display: flex;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.second-model__container .space{
    width: 35%;
}

.second-model__content{
    position: relative;
    width: 75%;
    font-size: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.second-model__content .description__container, .second-model__content .finality,
.second-model__content .place-date, .second-model__content .speaker{
    position: absolute;
    width: 75%;

}

.second-model__content .title{
    font-size: 110%;
    color: #f0596d;
    font-weight: 700;
    text-align: center;
}

.second-model__content .description__container{
    /* padding: 0 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-model__content .description{
    font-size: 80%;
    width: 100%;
}

.second-model__content .finality{
    font-size: 60%;
}

.second-model__content .place-date{
    display: flex;
    font-size: 70%;
}

.second-model__content .speaker{
    font-size: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
