<div class="second-model__container" id="previewSecondModel">
    <div class="second-model__content">
        <div id="previewDescription2" class="description__container">
            <p class="description d1">
                Este certificado é concedido como reconhecimento pela e compromentimento de 
            </p>
            <p class="title" id="previewTitle2">
                [Nome do Aluno(a)]
            </p>
            <p class="description" >
                em aprimorar suas habilidades e conhecimentos.
            </p>
        </div>
        <div class="finality" id="previewFinality">
            <p>
                Certificamos que [Nome do Aluno(a)] participou do evento {{eventName || '[Nome do Evento]'}}
                realizado no dia {{eventDate || '[Data do Evento]'}}, com uma carga horária total de {{eventWorkLoad || '[Carga Horária]'}} horas 
            </p>
        </div>
        <div id="previewPlaceDate2" class="place-date">
            <p class="highlight" style="margin-right: 2px;">
                {{speakerRole || '[Cargo do Organizador]'}}
            </p>
           <p class="highlight"> {{eventDate || '[Data do Evento]'}}</p> 
        </div>
        <div id="previewSpeaker2" class="speaker">
            <p class="subtitle highlight">
                {{speakerName || '[organizador(a)]'}}
            </p>
            <p class="highlight">{{speakerRole || '[Cargo do Organizador]'}}</p>
        </div>
    </div>
    <div class="space"></div>
</div>