<div class="certificate__container">
    <div>
        <h1 class="content__title">
            Gerador de certificados
        </h1>
        <p class="content__description">
            Você pode criar certificados personalizados de forma rápida e fácil de para reconhecimento e autenticação.
        </p>
    </div>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="form__container">
            <div class="certificate__content ga-data">
                <div class="form-group ga-type">
                    <h3>1. Selecione o tipo de certificado:</h3>
                    <ul class="form-group__content">
                        <li>
                            <app-input-radio 
                                [controlName]="form.get('certificateTypeEnum')"
                                labelTitle="Participação"
                                valueInput="PARTICIPATION"
                                [isChecked]="true"
                            />
                        </li>
                        <li>
                            <app-input-radio 
                                [controlName]="form.get('certificateTypeEnum')"
                                labelTitle="Palestrante"
                                valueInput="SPEAKER"
                            />
                        </li>
                        <li>
                            <app-input-radio 
                                [controlName]="form.get('certificateTypeEnum')"
                                labelTitle="Curso"
                                valueInput="COURCE"
                            />
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <h3>
                        2. Preencha as informações do certificado
                    </h3>
                    <app-input-file
                        filelabelTitle="Adicionar arquivo com os nomes dos participantes"
                        buttonTitle="Arquivo csv" 
                        (fileContent)="onChangeFile($event)"
                        errorMessage="Selecione algum arquivo csv"
                        [isSelected]="form.get('worksheet')?.errors?.['required'] && clickBtn" 
                    />

                    <app-input-field
                        [controlName]="form.get('eventName')"
                        labelTitle="Nome do evento/curso:"
                        placeholder="Primeiros socorros"
                        errorMessage="Nome do evento é obrigatório"
                        [clickBtn]="clickBtn"
                        inputId="eventName"
                    />

                    <app-input-field
                        [controlName]="form.get('speakerName')"
                        labelTitle="Nome do(a) organizador(a):"
                        placeholder="José Maria"
                        errorMessage="Nome do organizador é obrigatório"
                        [clickBtn]="clickBtn"
                        inputId="speakerName"
                    />

                    <app-input-field
                        [controlName]="form.get('speakerRole')"
                        labelTitle="Cargo do(a) organizador(a):"
                        placeholder="Diretor"
                        errorMessage="Cargo do organizador é obrigatório"
                        [clickBtn]="clickBtn"
                        inputId="speakerRole"
                    />

                    <app-input-field
                        [controlName]="form.get('eventWorkLoad')"
                        labelTitle="Carga horária:"
                        placeholder="120 horas"
                        errorMessage="Carga Horária é obrigatória"
                        [clickBtn]="clickBtn"
                        inputId="eventWorkLoad"
                    />
                    <app-input-field 
                        [controlName]="form.get('eventDate')"
                        labelTitle="Data do evento/curso:"
                        placeholder="22-03-2022"
                        errorMessage="Data do evento é obrigatória"
                        [clickBtn]="clickBtn"
                        inputId="eventDate"
                    />
                    <app-input-field labelTitle="Local de emissão do certificado:" 
                        [controlName]="form.get('eventLocale')"
                        errorMessage="O campo Nome é obrigatório"
                        placeholder="São Paulo - SP" 
                        errorMessage="Local de emissão é obrigatório"
                        [clickBtn]="clickBtn"
                        inputId="eventLocale"
                    />
                </div>
            </div>

            <div class="certificate__model">
                <div class="form-group ga-select">
                    <h3>
                        3. Escolha o modelo do certificado:
                    </h3>
                    <ul class="form-group__content">
                        <li>
                            <app-input-radio 
                                [controlName]="form.get('certificateModelId')"
                                labelTitle="Certificado 1"
                                valueInput="1"
                                [isChecked]="true"
                            />
                        </li>
                        <li>
                            <app-input-radio 
                                [controlName]="form.get('certificateModelId')"
                                labelTitle="Certificado 2"
                                valueInput="2"
                            />    
                        </li>
                    </ul>
                </div>
                <div class="certificate-preview__container ga-preview">
                    <h3>Exemplo do Certificado</h3>
                    <div class="certificate-preview__content">
                        <div class="certificate-view" 
                            *ngIf="form.value.certificateModelId === '1'">
                            <img class="certificate"
                            src="/assets/images/Certificado1_padrao.png" alt="Certificado 1 com titulo azul e um texto padrão">
                        </div>
                        <div *ngIf="form.value.certificateModelId === '2'" class="certificate-view">
                            <img class="certificate" src="/assets/images/Certificado2_padrao.png" alt="Certificado 1 com titulo Preto e um texto padrão">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-button-download (submitEmitter)="submit" [isBtnValid]="form.valid" />
    </form>
</div>
<app-buttons-homer-help [iconName]="'question_mark'" [idName]="'button-help'" [routerName]="'/help'" />
<app-buttons-homer-help [iconName]="'undo'" [idName]="'button-home'" [routerName]="'/home'" />