<div class="certificate__container">
    <div>
        <h1 class="content__title">
            Gerador de certificados
        </h1>
        <p class="content__description">
            Você pode criar certificados personalizados de forma rápida e fácil de para reconhecimento e autenticação.
        </p>
    </div>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="form__container">
            <div class="certificate__content ga-data">
                <div class="form-group ga-type">
                    <h3>1. Selecione o tipo de certificado:</h3>
                    <ul class="form-group__content">
                        <li>
                            <label for="participation" class="content__name">
                                Participação
                                <input type="radio" value="PARTICIPATION" name="certificateTypeEnum"
                                    formControlName="certificateTypeEnum" id="participation">
                            </label>
                        </li>
                        <li>
                            <label for="speaker" class="content__name">
                                <input type="radio" value="SPEAKER" name="certificateTypeEnum"
                                    formControlName="certificateTypeEnum" id="speaker">
                                Palestrante
                            </label>
                        </li>
                        <li>
                            <label for="course" class="content__name">
                                <input type="radio" value="COURCE" name="certificateTypeEnum"
                                    formControlName="certificateTypeEnum" id="course">
                                Curso
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="form-group ga-form">
                    <h3>
                        2. Preencha as informações do certificado
                    </h3>
                    <div class="form-group__content">
                        <label class="content__name label-file"for="worksheet">
                            <span>Adicionar arquivo com os nomes dos participantes</span>
                            <button *ngIf="!form.value.worksheet" class="btn-file enabled" type="button" (click)="onClick()">Arquivo csv</button>
                            <span class="btn-file enabled" *ngIf="form.value.worksheet">
                                Arquivo selecionado: {{form.value.worksheet.name}}
                            </span>
                        </label>
                        <div class="danger" *ngIf="fieldValidator('eventName')">
                            <small>Selecione o arquivo</small>
                        </div>
                        <input type="file" name="worksheet" (change)="onChange($event)" style="display: none;" id="worksheet" accept=".csv" />
                    </div>
                    <div class="form-group__content">
                        <label class="content__name" for="eventName">
                            Nome do evento/curso:
                        </label>
                        <input class="content__input" class="content__input" type="text" id="eventName"
                            formControlName="eventName" placeholder="Primeiros socorros">
                        <div class="danger" *ngIf="fieldValidator('eventName')">
                            <small>Nome do evento é obrigatório</small>
                        </div>
                    </div>
                    <div class="form-group__content">
                        <label class="content__name" for="speakerName">
                            Nome do(a) organizador(a):
                        </label>
                        <input class="content__input" type="text" id="speakerName" formControlName="speakerName"
                            placeholder="José Maria">
                        <div class="danger" *ngIf="fieldValidator('speakerName')">
                            <small>Nome do organizador é obrigatório</small>
                        </div>
                    </div>

                    <div class="form-group__content">
                        <label class="content__name" for="speakerRole">
                            Cargo do(a) organizador(a):
                        </label>
                        <input class="content__input" type="text" id="speakerRole" formControlName="speakerRole"
                            placeholder="Diretor" />
                        <div class="danger" *ngIf="fieldValidator('speakerRole')">
                            <small>Cargo do organizador é obrigatório</small>
                        </div>
                    </div>
                    <div class="form-group__content">
                        <label class="content__name" for="eventWorkLoad">
                            Carga horária:
                        </label>
                        <input class="content__input" type="text" id="eventWorkLoad" formControlName="eventWorkLoad"
                            placeholder="120 horas" />
                        <div class="danger" *ngIf="fieldValidator('eventWorkLoad')">
                            <small>Carga Horária é obrigatória</small>
                        </div>
                    </div>
                    <div class="form-group__content">
                        <label class="content__name" for="eventDate">
                            Data do evento/curso:
                        </label>
                        <input class="content__input" type="text" id="eventDate" formControlName="eventDate"
                            placeholder="22-03-2022"/>
                            <div class="danger" *ngIf="fieldValidator('eventDate')">
                                <small>Data do evento é obrigatória</small>
                            </div>
                    </div>
                    <!-- <div>
                    <label class="content__name" for="dateIssue">
                        Data de emissão do certificado:
                    </label>
                    <input class="content__input" type="text"  id="dateIssue" formControlName="dateIssue" placeholder="28-06-2022">
                </div> -->
                    <div class="form-group__content">
                        <label class="content__name" for="eventLocale">
                            Local de emissão do certificado:
                        </label>
                        <input class="content__input" type="text" id="eventLocale" formControlName="eventLocale"
                            placeholder="São Paulo - SP">
                            <div class="danger" *ngIf="fieldValidator('eventLocale')">
                                <small>Local de emissão é obrigatório</small>
                            </div>
                    </div>
                </div>
            </div>

            <div class="certificate__model ga-model">
                <div class="form-group ga-select">
                    <h3>
                        3. Escolha o modelo do certificado:
                    </h3>
                    <ul class="form-group__content">
                        <li class="">
                            <label for="firstModel" class="content__name">
                                Certificado 1
                                <input type="radio" id="firstModel" checked value="1"
                                    formControlName="certificateModelId" name="certificateModelId">
                            </label>
                        </li>
                        <li>
                            <label for="secondModel" class="content__name">
                                Certificado 2
                                <input type="radio" id="secondModel" value="2" formControlName="certificateModelId"
                                    name="certificateModelId">
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="certificate-preview__container ga-preview">
                    <h3>Previsualização do Certificado</h3>
                    <div class="certificate-preview__content">
                        <app-preview-certificate [certificateId]="form.value.certificateModelId"
                            [eventDate]="form.value.eventDate" [eventWorkLoad]="form.value.eventWorkLoad"
                            [eventDate]="form.value.eventDate" [eventName]="form.value.eventName"
                            [speakerName]="form.value.speakerName" [speakerRole]="form.value.speakerRole" />
                    </div>
                </div>
            </div>
        </div>
        <app-button-download (submitEmitter)="submit" [isBtnValid]="form.valid" />
    </form>
</div>
<app-buttons-homer-help [iconName]="'question_mark'" [idName]="'button-help'" [routerName]="'/help'" />
<app-buttons-homer-help [iconName]="'undo'" [idName]="'button-home'" [routerName]="'/home'" />