<div class="certificate__container">
    <div>
        <h1 class="content__title">
            Gerador de certificados
        </h1>
        <p class="content__description">
            Você pode criar certificados personalizados de forma rápida e fácil de para reconhecimento e autenticação.
        </p>
    </div>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="form__container">
            <div class="certificate__content ga-data">
                <div class="form-group ga-type">
                    <h3>1. Selecione o tipo de certificado:</h3>
                    <ul class="form-group__content">
                        <li>
                            <label for="participation" class="content__name">
                                Participação
                                <input type="radio" value="PARTICIPATION" name="certificateTypeEnum"
                                    formControlName="certificateTypeEnum" id="participation">
                            </label>
                        </li>
                        <li>
                            <label for="speaker" class="content__name">
                                <input type="radio" value="SPEAKER" name="certificateTypeEnum"
                                    formControlName="certificateTypeEnum" id="speaker">
                                Palestrante
                            </label>
                        </li>
                        <li>
                            <label for="course" class="content__name">
                                <input type="radio" value="COURCE" name="certificateTypeEnum"
                                    formControlName="certificateTypeEnum" id="course">
                                Curso
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="form-group ga-form">
                    <h3>
                        2. Preencha as informações do certificado
                    </h3>
                    <!-- <div class="form-group__content">
                        <label class="content__name label-file" for="worksheet">
                            <span>Adicionar arquivo com os nomes dos participantes</span>
                            <button *ngIf="!form.value.worksheet" class="btn-file enabled" type="button"
                                (click)="onClick()">Arquivo csv</button>
                            <span class="btn-file enabled" *ngIf="form.value.worksheet">
                                Arquivo selecionado: {{form.value.worksheet.name}}
                            </span>
                        </label>
                        <div class="danger" *ngIf="fieldValidator('worksheet')">
                            <small>Selecione o arquivo</small>
                        </div>
                        <input type="file" name="worksheet" (change)="onChangeFile($event)" style="display: none;"
                            id="worksheet" accept=".csv" />
                    </div> -->

                    <app-input-file
                        filelabelTitle="Adicionar arquivo com os nomes dos participantes"
                        buttonTitle="Arquivo csv" 
                        (fileContent)="onChangeFile($event)"
                        errorMessage="Selecione algum arquivo csv"
                        [isSelected]="form.get('worksheet')?.errors?.['required'] && clickBtn" 
                    />

                    <app-input-text
                        [controlName]="form.get('eventName')"
                        labelTitle="Nome do evento/curso:"
                        placeholder="Primeiros socorros"
                        errorMessage="Nome do evento é obrigatório"
                        id="eventName"
                    />

                    <app-input-text
                        [controlName]="form.get('speakerName')"
                        labelTitle="Nome do(a) organizador(a):"
                        placeholder="José Maria"
                        errorMessage="Nome do organizador é obrigatório"
                        id="speakerName"
                    />

                    <app-input-text
                        [controlName]="form.get('speakerRole')"
                        labelTitle="Cargo do(a) organizador(a):"
                        placeholder="Diretor"
                        errorMessage="Cargo do organizador é obrigatório"
                        id="speakerRole"
                    />

                    <app-input-text
                        [controlName]="form.get('eventWorkLoad')"
                        labelTitle="Carga horária:"
                        placeholder="120 horas"
                        errorMessage="Carga Horária é obrigatória"
                        id="eventWorkLoad"
                    />
                    <app-input-text 
                        [controlName]="form.get('eventDate')"
                        labelTitle="Data do evento/curso:"
                        placeholder="22-03-2022"
                        errorMessage="Data do evento é obrigatória"
                        id="eventDate"
                    />
                    <app-input-text labelTitle="Local de emissão do certificado:" 
                        [controlName]="form.get('eventLocale')"
                        errorMessage="O campo Nome é obrigatório"
                        placeholder="São Paulo - SP" 
                        errorMessage="Local de emissão é obrigatório"
                        id="eventLocale"
                    />
                </div>
            </div>

            <div class="certificate__model ga-model">
                <div class="form-group ga-select">
                    <h3>
                        3. Escolha o modelo do certificado:
                    </h3>
                    <ul class="form-group__content">
                        <li class="">
                            <label for="firstModel" class="content__name">
                                Certificado 1
                                <input type="radio" id="firstModel" checked value="1"
                                    formControlName="certificateModelId" name="certificateModelId">
                            </label>
                        </li>
                        <li>
                            <label for="secondModel" class="content__name">
                                Certificado 2
                                <input type="radio" id="secondModel" value="2" formControlName="certificateModelId"
                                    name="certificateModelId">
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="certificate-preview__container ga-preview">
                    <h3>Exemplo do Certificado</h3>
                    <div class="certificate-preview__content">
                        <div class="certificate-view" 
                            *ngIf="form.value.certificateModelId === '1'">
                            <img class="certificate"
                            src="/assets/images/Certificado1_padrao.png" alt="Certificado 1 com titulo azul e um texto padrão">
                        </div>
                        <div *ngIf="form.value.certificateModelId === '2'" class="certificate-view">
                            <img class="certificate" src="/assets/images/Certificado2_padrao.png" alt="Certificado 1 com titulo Preto e um texto padrão">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-button-download (submitEmitter)="submit" [isBtnValid]="form.valid" />
    </form>
</div>
<app-buttons-homer-help [iconName]="'question_mark'" [idName]="'button-help'" [routerName]="'/help'" />
<app-buttons-homer-help [iconName]="'undo'" [idName]="'button-home'" [routerName]="'/home'" />