.certificate__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 4.5rem;
    margin-top: 1rem;
    height: 100%;
    width: 100%;    
}

.form__container{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1.5rem;
    height: 100%;
}

.certificate__model{
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 100%;
    gap: 1.5rem;
}
.form-group{
    background-color: var(--bg-color);
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
}

ul:is(.form-group, .form-group__content) {
    flex-direction: row;
}

.form-group__content{
    display: flex;
    flex-direction: column;
    color: var(--label-color);
    gap: .2rem;
    margin: 1rem 0;
}

.form-title{
    margin-bottom: .5rem;
}

.certificate__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.certificate_description{
    margin: 0 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .25rem
}

.certificate-preview__container{
    background-color: var(--bg-color);
    padding: 0.75rem 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 600px;
}

.certificate-preview__content{
    width: 100%;
    height: 100%;
}

.certificate__preview{
    line-height: 30px;
    letter-spacing: 1px;
    padding: 0 1rem;
}

ul.form-group__content{
    gap: .75rem;
    margin: 0;
    justify-content: center;
    padding-top: 1rem;
}

.certificate-view{
    max-width: 100%;
    width: 100%;
}

.certificate-view .certificate{
    width: 100%;
}

.show-certificate{
    display: block;
}

.hide-certificate{
    display: none;
}