.enabled {
    /* text-decoration: none; */
    background: #25BFBF;
    color: #fff;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.enabled:hover{
    transition: 400ms ease;
    background-color: #17a7a7;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.btn{
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 22px;
    width: 200px;
    height: 63px;
}


.disabled{
    background-color: #506d6de5;
    cursor: none;
    pointer-events: none;
    color: #ffffff99;
}