<div class="btn-download__container">
  <button type="submit" class="btn" [ngClass]="{'enabled': isBtnValid, 'disabled': !isBtnValid}" (click)="onSubmit()">
     {{'button.download' | translate}}
  </button>
</div>

<!-- como Usa
esse exemplo do componente veio do certificate.generator.component.html

<app-button-download
    (submitEmitter)="submit"   // => enviar o formulário se ele estiver válido
    [isBtnValid]="form.valid"  // => verificar formulário está valido para habilitar o click
/>

-->
