
.btn{
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 22px;
    width: 200px;
    height: 63px;
}


.disabled{
    background-color: #506d6de5;
    cursor: none;
    pointer-events: none;
    color: #ffffff99;
}