
/* Variáveis das cores principais */
:root {
    --primary-color: #50c878;
    --secondary-color: #c9f2e3;
    --label-color: #25bfbf;
}
/* Como usar as variávais css: propriedade: var(nome-variável);
   exemplos:
     - em background -> background-color: var(--primary-color);
     - em color -> color: var(--secondary-color);
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto Condensed", sans-serif;
}

body{
    background: #d3d3d3;
    color: #0d0d0d;
    font-size: 16px;
}

#button-help, #button-home{
    position: absolute;
    right: 47px;
}
#button-help {
    bottom: 47px;
}
#button-home {
    top: 47px;
}


input[type="text"], input[type="email"]{
    outline: none;
    border: 1px solid var(--label-color);
    background-color: #FFF;
    width: 100%;
    height: 2rem;
    padding: .5rem .75rem;
    border-radius: 4px;
    font-size: 1.1rem;
}

ul{
    list-style: none;
}

.danger{
    color: #F00;
}

.enabled {
    /* text-decoration: none; */
    background: var(--label-color);
    color: #fff;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.enabled:hover{
    transition: 400ms ease;
    background-color: #17a7a7;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}