
/* Variáveis das cores principais */
:root {
    --primary-color: #50c878;
    --secondary-color: #c9f2e3;
    --label-color: #25bfbf;
    --radio-hover: #158E8E;
    --bg-color: #f0faf3;
    --main-bg-color: #cdcdcd
}
/* Como usar as variávais css: propriedade: var(nome-variável);
   exemplos:
     - em background -> background-color: var(--primary-color);
     - em color -> color: var(--secondary-color);
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto Condensed", sans-serif;
}
html{
    background: var(--main-bg-color);
}

body{
    color: #0d0d0d;
    font-size: 16px;
}

ul{
    list-style: none;
}

.danger{
    color: #F00;
}

.enabled {
    /* text-decoration: none; */
    background: var(--label-color);
    color: #fff;
    box-shadow: 0px 4px 4px 2px rgba(0, 43, 0, 0.25);
}

.enabled:hover{
    transition: 400ms ease;
    background-color: #17a7a7;
    box-shadow: 0px 3px 3px rgba(0, 43, 0, 0.25);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
