.menu-bar__container{
  display: flex;
  justify-content: space-between;
}
.menu-bar__nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 5em;
}

.menu-bar__nav li {
  list-style: none;
}
.menu-bar__nav li a {
  text-decoration: none;
  padding: 9px 28px;

  background: #91f2a0;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}
#item-first{
  border-radius: 0 0 0 15px;
}
#item-last{
  border-radius: 0 0 15px 0;
}
.menu-bar__nav li a:hover {
  background-color: #50c878;
}




.translates_buttom{
  margin-left: 10px;
}
.translates_buttom button {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
    transition: filter 0.3s ease-in-out !important;


}

.translates_buttom button img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.translates_buttom button:disabled {
  background-color: transparent;

}
.translates_buttom button  :hover {
  filter: brightness(1.0);
  transform: scale(1.2);
  transition: transform 0.3s;

}









@media screen and (max-width: 650px) {
  .menu-bar__nav {
    
    justify-content: center;
    margin-right: 0;
    
  }

  .menu-bar__nav li a{
    
    font-size: 12px;
    
}
}
