<div class="menu-bar__container">

  <div class="translates_buttom">
    <button (click)="switchLanguage('en')"><img src="../../../assets/images/logo/US-United-State.png" alt="" srcset="" ></button>
    <button (click)="switchLanguage('es')"><img src="../../../assets/images/logo/ES-spain.png" alt="" srcset="" ></button>
    <button (click)="switchLanguage('pt-BR')"><img src="../../../assets/images/logo/BR-Brazil.png" alt="" srcset="" ></button>
    <button (click)="switchLanguage('fr')"><img src="../../../assets/images/logo/FR-france.png" alt="" srcset="" ></button>
    <button (click)="switchLanguage('zh')"><img src="../../../assets/images/logo/CH-china.png" alt="" srcset="" ></button>
  </div>

  <ul class="menu-bar__nav">
    <li><a href="/home/#design" id="item-first" >{{'MENU.DESIGN'|translate}}</a></li>
    <li><a href="/home/#documents">{{'MENU.DOCUMENTS'|translate}}</a></li>
    <li><a href="/home/#security">{{'MENU.SECURITY'| translate}}</a></li>
    <li><a href="/home/#collaborators" >Colaboradores</a></li>
    <li><a href="#" id="item-last">{{'MENU.SUPPORT'|translate}}</a></li>
  </ul>
</div>
